{% extends 'zinnia/base.html' %}
{% load static %}


{% block main_header %}
	<h1 class="heading">Smart Thinking With <span class="text-yellow">DATA</span></h1>
	
	<div class="avatar">
		<img class="rounded-circle header-avatar" src="{% static 'aurthur/img/avatar-b.jpg' %}" alt="">
	</div>

	<div class="inner text-center mb-5">
		<p class="text-yellow  uppercase">DataScientist | Operations Research Analyst | Statistician | Medical Laboratory Technologist</p>
	</div>

	<hr>
	<div id="typed-strings">
		<p  class="">I am all about data, ^1000 bringing smart solutions through data.</p><p> ^1000How to bring data driven solutions to everyday problems.</p>
		<p> ^1000 I have a good medical background ^1000 having worked as a medical laboratory technician </p>
		<p> ^1000 During that period i was studying Operations Research and Statistics. </p>
		<p> ^1000 I am a self taught Data Scientist building up from SORS. </p>
		<p> ^1000 I am also a Django Website Developer learning R <p></p></p>
	</div>
	<span id="typed" class=" micro-spacer"></span>
{% endblock main_header %}

{% block service_menu %}<div id="services"></div>{% endblock service_menu %}





{% block site_footer_id %}contact{% endblock site_footer_id %}
        